[Unit]
Description=Trading Nova - Nova News Bot
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/nova_news_bot.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
