[Unit]
Description=Trading Nova - performance_tracker
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/performance_tracker.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
