[Unit]
Description=Trading Nova - updates_bot
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/updates_bot.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
