[Unit]
Description=Trading Nova - listener
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/listener.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
