[Unit]
Description=Trading Nova - signal_strategy
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/signal_strategy.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
