[Unit]
Description=Trading Nova - session_alerts
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/session_alerts.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
