[Unit]
Description=Trading Nova - watchlist_scanner
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/watchlist_scanner.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
