[Unit]
Description=Trading Nova - Main VA Bot
After=network.target

[Service]
ExecStart=/root/tradingbot/bin/python3 -u /root/tradingbot/main_bot.py
Restart=always
RestartSec=10
WorkingDirectory=/root/tradingbot

[Install]
WantedBy=multi-user.target
